// Mixins Here

.flex (@j, @a) {
    display: flex;
    justify-content: @j;
    align-items: @a;
}

.anchor-reset {
    text-decoration: none;
    color: @header-font-color;

}

// .button-styles {
 //       @media @phone {
//     .flex;
//     border: none;
//     border-radius: 4px;
//     padding: 5.5%;
//     background-color: @btn-bg-color;
//     color: @porcelain;
//     font-size: 1.85rem;}
// }

.button-style {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  .flex(center, center);
}

.mobile-button {
    border: none;
    border-radius: 4px;
    padding: 5.5%;
    background-color: @btn-bg-color;
    color: @porcelain;
    font-size: 1.85rem;
}